# .env gets populated with the following properties by the script setup_env.sh. 
# You can also manually set these values in this file.
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_ADMIN_KEY=
AZURE_SEARCH_INDEX_NAME=
AZURE_OPENAI_CHAT_DEPLOYMENT=
